<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jenzabar.JX.Common.WebServices" version="3.0.0" targetFramework="net452" />
  <package id="Jenzabar.JX.Core" version="1.0.0" targetFramework="net452" />
  <package id="Jenzabar.JX.SEM.BatchImports" version="2.2.0" targetFramework="net452" />
  <package id="Jenzabar.JX.SEM.WebServices" version="2.2.0" targetFramework="net452" />
</packages>